trained_models/GRConv_RGBD_Pos_1bin/gr_rgbd_1bin_pos.pt filter=lfs diff=lfs merge=lfs -text
trained_models/GRConv_RGBD_Pos_3bin/gr_rgbd_3bin_pos.pt filter=lfs diff=lfs merge=lfs -text
trained_models/Unet_RGBD_Pos_1bin/unet_rgbd_1bin_pos.pt filter=lfs diff=lfs merge=lfs -text
